.hidden {
    display: none;
}

.shadow{
    box-shadow: 0 8px 16px rgb(0 0 0 / 0.2);
}

.box, .box-center-95, .box-center-85, .box-center-75, .box-center-65, .box-center-55, .box-center-45, .box-center-35.box-center-25.box-center-15 {
    margin: 25px auto;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
}

.box-center-95 {
    width: 95%;
}

.box-center-85 {
    width: 85%;
}

.box-center-75 {
    width: 75%;
}

.box-center-65 {
    width: 65%;
}

.box-center-55 {
    width: 55%;
}

.box-center-45 {
    width: 45%;
}

.box-center-35 {
    width: 35%;
}

.box-center-25 {
    width: 25%;
}

.box-center-15 {
    width: 15%;
}

.min-height-1000{
    min-height: 1000px;
}
.min-height-500{
    min-height: 500px;
}
.min-height-300{
    min-height: 300px;
}
.min-height-250{
    min-height: 250px;
}
.min-height-100{
    min-height: 100px;
}


.box{

}
.box-collection {
    display: flex;
    flex-wrap: wrap;
}

.small-box-4 {
    flex: 1 0 20%;
    margin: 5px;
    height: 100px;
}

.small-box-3 {
    flex: 1 0 25%;
    margin: 5px;
    height: 100px;
}

.small-box-2 {
    flex: 1 0 25%;
    margin: 5px;
    height: 100px;
}
